.infowindow {
	max-width: 400px; /* set a maximum width */
	border: 3px solid #32cd32;
	border-radius: 15px;
	background-color: white;
	overflow: auto; /* added rule */
	display: inline-block; /* add this line */
}

.infowindow-img {
	width: 4rem;
	border-radius: 5px;
}

.infowindow-title {
	font-size: 20px;
}

.infowindow-img-container {
	float: left;
}

.infowindow-text-container {
	float: left;
	padding: 10px;
	margin: 3px;
}
