@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@font-face {
	font-family: "BMJUA";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: BMJUA, fantasy;
}

nav {
	background-color: white;
	min-width: 552px;
}

body {
	background-color: white;
}
.category_title {
	padding: 10px;
	white-space: nowrap;
	margin-bottom: 20px;
}

.city_buttons {
	background: none;
	border: none;
	font-family: BMJUA, fantasy;
	cursor: pointer;
	font-size: 18px;
	width: 24.4%;
	height: 3rem;
}

.inner {
	padding: 0 10rem;
}
/* naver_map */
#map {
	flex-grow: 1;
	top: 20px;
}
/* 창 늘릴시 1024px 까지만 형태 늘어남 */
@media all and (min-width: 1024px) {
	.inner {
		max-width: 1024px;
		margin: 0 auto;
	}
}
/* 창 줄일시 552px 까지만 형태 변경 그 이하로 줄일시 요소 고정 */
@media all and (max-width: 1024px) {
	.inner {
		min-width: 552px;
		margin: 0 auto;
	}
}
.nav-title {
	font-size: 30px;
	white-space: nowrap;
}

.nav-container {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

button.nav-contect {
	background-color: transparent;
	width: 100px;
	height: 40px;
	border: 0;
	cursor: pointer;
	font-family: BMJUA, fantasy;
	font-size: 25px;
	border: 2px solid rgb(255, 232, 149);
	block-size: 50px;
	border-radius: 10px;
}

.list_buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	border: 2px solid rgb(255, 232, 149);
	border-radius: 20px;
}

/* 회원용/비회원용 헤더 설정 */
.dropdown {
	position: relative;
}

.dropdown-button {
	font-family: inherit;
	font-size: 1rem;
	border: none;
	background: none;
}

/* 로그인 버튼 기본값: 숨김처리 */
.dropdown-content {
	display: none;
	position: absolute;
	width: 100%;
}

.dropdown-content button {
	display: block;
	font-size: 1rem;
	font-family: inherit;
	width: 100%;
	border: none;
}

.dropdown-content button:hover {
	color: white;
	background-color: #606060;
}

/* 호버시 로그아웃 버튼 보이도록 설정 */
.dropdown:hover .dropdown-content {
	display: block;
}

.sign-container {
	font-size: 15;
	border: 0;
	background: none;
	cursor: pointer;
	font-family: inherit;
}
