@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

html {
	font-family: 'Hi Melody', cursive;
}

body {
	background-color: beige;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	padding: 0.6rem 0.6rem;
	align-items: center;
	font-size: medium;
	background-color: cornsilk;
}

button.nav-contect {
	background-color: transparent;
	background-color: antiquewhite;
	width: 100px;
	height: 40px;
	border: 0;
	cursor: pointer;
	font-family: 'Hi Melody', cursive;
	font-size: xx-large;
}
